<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="person.name" />
<!-- <p *ngIf="person.name == 'oxalc'">Soy Oxalc</p>
<p *ngIf="person.name == 'kanelita'">Soy Kanelita</p>
<p *ngIf="person.name == 'valeria'">Soy Valeria</p> -->
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'oxalc'">Soy Oxalc</p>
  <p *ngSwitchCase="'kanelita'">Soy Kanelita</p>
  <p *ngSwitchCase="'valeria'">Soy Valeria</p>
  <p *ngSwitchDefault>No hace match con nadie</p>
</div>

<hr />

<h1>*ngFor Objs(ngFor only iterates through array - no objects)</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" [alt]="product.name">
    <h2>{{product.price}}</h2>
    <p>{{product.name}} </p>
  </div>
</div>
<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="!names.length">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">delete</button>
  </li>
</ul>
<hr />
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'oxalc'">Soy Oxalc</p>
<p *ngIf="person.name == 'kanelita' && person.age === 3; else myBlock">Soy Kanelita</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<p>Nombre: {{person.name}} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }} </p>
<p>Age: {{person.age}} </p>
<input type="number" max="18" min="3" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }} </p>


<hr />
<!-- Event biding
  Permite escuchar y responder a las acciones del usuario, como pulsaciones de teclas, movimientos del mouse, clics y toques (Atributos HTML y propiedades DOM).
-->
<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="ageIncrement()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio assumenda ipsam officiis laudantium corporis!
    Perferendis ullam magnam voluptatum dolore, ut aperiam eos mollitia dolores tempora tenetur esse dolorem blanditiis
    alias.</p>
</div>
<p>Nobre: {{person.name}} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr />
<!-- Property biding
  Es para configurar propiedades de elementos html
 -->

<h1>Propiedades</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" [alt]="person.name">

<hr />
<!-- String interpolation
  cuando se trata de renderizar contenido como textos
 -->
<h1>Hola Mundo</h1>
<h2>{{ "Hola world ".repeat(5) }}</h2>
<p> 3 + 3 ={{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{age}} </h3>
<img src={{img}} alt="imagen">
